<h3>Analytics Settings</h3>
<div class="analytics-settings-container well">
    {{outlet "alert"}}
    <form {{action 'save' on='submit'}} id="edit-analytics-form">
        <div class="basic-settings row {{if model.value.dataCollectionEnabled '' 'data-collection-disabled'}}">
            <h4>Data Collection:</h4>
            <div class="col-xs-3 col-md-1">
                <label>Enabled</label><br/>
                {{view 'elements.switch' class='analytics-enabled-switch' checked=model.value.dataCollectionEnabled
                valueBinding='model.value.dataCollectionEnabled' name='enabled'}}
            </div>
            <div class="col-xs-8 data-collection-interval">
                <div class="data-interval-input-container">
                    <label>Collect data every:</label>
                    {{view Em.Select
                    content=selectOptions
                    optionValuePath="content.value"
                    optionLabelPath="content.label"
                    class='form-control data-interval-input'
                    disabled=isDataCollectionEnabled
                    value=model.value.dataInterval
                    name='dataInterval'}}
                </div>
            </div>
        </div>
    </form>
</div>